**doxy/
**docs/doxy/
/home/tyoung3/go/mod/sw/example
Makefile
.idea/
autom*
Makefile.in
config.h.in
compile
sw-0*
*.m4
.deps
missing
stamp*
depcomp
install-sh
config.status
*ORIG
_OLD/
_IGNORE*
_*
swedit/

docs/doxy/
doxy/html/*.png
example/
fbpx/IGNORE_swedit
project/ex1/
project/test/


#Absyn.?
AbsynLexer.c
bnfc/SW.pdf	
.gdbinitIGNORE_swedit
gmon.out
IGNORE*
Lexer.c
model/tests/.gdbinit
model/gen.sh
model/swconfigx.c
model/tests/n6.sw
model/tests/x1.sw
model/tests/mashup.sw
#Parser.?
#Printer.?
Skeleton.?
tags
*~
*.aux
*.bak
*.dot
*.dtd
*.dvi
#*.l
*.log
*.o
*.OLD
*.ps
*.tex
# *.y
