**doxy/
**docs/doxy/
/home/tyoung3/go/mod/sw/example
test-driver
.idea/

nds/tmpost.sw
swtests/

autom*
*.trs
*.log
sw-0.*.?
*.m4
.deps
stamp*
config.status
*ORIG
_OLD/
_IGNORE*
_*

docs/doxy/
doxy/html/*.png
example/
fbpx/IGNORE_swedit
project/ex1/
project/test/


#Absyn.?
.gdbinitIGNORE_swedit
gmon.out
IGNORE*
.gdbinit
model/gen.sh
configure.scan
tags
*~
*.aux
*.bak
*.dot
*.dtd
*.dvi
#*.l
*.log
*.o
*.OLD
*.ps
*.tex
# *.y
build-aux
swedit
swr
swr.go
pill.go
pill_string.go
src/bnfc/Makefile.bnfc
